.customize-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000; /* Ensure the popup appears above other elements */
  width: 800px; /* Adjust width as needed */
  max-height: 100vh; /* Set maximum height to 80% of the viewport height */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
 text-align: center;
}

.image-container img {
  max-width: 90%;
  height: auto;
}

.form-container {
  flex: 1; /* Take up 50% of the width */
  padding-left: 20px; /* Add some spacing between image and form */
}
.image-container {
  width: 300px; /* Adjust image width as needed */
  flex-shrink: 0; /* Prevent image from shrinking */
  margin-right: 10px; 
  padding-left: 10px;/* Add spacing between image and form */
  margin-top: 10%;
  margin-left: 60px;
}
.image-container .button{
  text-align: center;
  margin-right: 10px;

}

.price{
  margin-left: 20px;
}
.form-container {
  position: relative; /* Set the container position to relative */
}

.close-button {
  position: absolute; /* Set the close button position to absolute */
  top: 10px; /* Adjust top distance */
  right: 10px; /* Adjust right distance */
  background: green; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer;
}
.customize-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.col-6 {
  flex: 0 0 50%;
}

.heading-container {
  text-align: center;
}
