.ViewPromotion {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ViewPromotion-buttons {
  margin-top: 20px;
  text-align: center;
}

.apply-button,
.close-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.closeicon{
  margin-left: 85%;

}
.closeicon button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: black;
}

.closeicon button:hover {
  color: #ff0000; /* Change color on hover if desired */
}
/* Dark theme styles */
.dark-theme .ViewPromotion {
  background-color: #333; /* Dark background color */
  color: #fff; /* Dark text color */
}

.dark-theme .apply-button,
.dark-theme .close-button {
  background-color: #007bff; /* Dark theme button background color */
  color: #fff; /* Dark theme button text color */
}

/* Light theme styles */
.light-theme .ViewPromotion {
  background-color: #fff; /* Light background color */
  color: #333; /* Light text color */
}

.light-theme .apply-button,
.light-theme .close-button {
  background-color: #007bff; /* Light theme button background color */
  color: #fff; /* Light theme button text color */
}
.dark-theme .dark-text {
  color: white;
}
.light-text {
  color: #333; /* Default text color for light mode */
}

.dark-text {
  color: white; /* Text color for dark mode */
}